@using DotnetMVCBaslangic.Models
@model IEnumerable<Ogrenci>
@{
    ViewData["Title"] = "Index";
}

<div class="card">
    <div class="card-header">
        Ogrenci Listesi
    </div>
    <div class="card-body">
        <table class="table">
            <thead>
                <tr>
                    <th scope="col">Adi</th>
                    <th scope="col">Soyadi</th>
                    <th scope="col">Ogrenci No</th>
                    <th scope="col">Islem</th>
                </tr>
            </thead>
            <tbody>
                @foreach (Ogrenci item in Model)
                {
                    <tr>
                        <td>@item.Adi</td>
                        <td>@item.Soyadi</td>
                        <td>@item.OgrenciNo</td>
                        <td>
                            <a asp-action="Delete" asp-controller="Ogrenci" asp-route-id="@item.Id">Sil</a>
                            <a asp-action="Details" asp-controller="Ogrenci" asp-route-id="@item.Id">Detay</a>

                            <a asp-action="Edit" asp-controller="Ogrenci" asp-route-id="@item.Id">Guncelle</a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
    <div class="card-footer">
        <!-- Yeni ogrenci ekleme butonu via Bootstrap v4-->
        @* Yeni ogrenci ekleme butonu via Bootstrap v4 *@

        <a asp-action="Create" asp-controller="Ogrenci" class="btn btn-primary">
            Yeni Ogrenci Ekle
        </a>
    </div>
</div>