@model IEnumerable<OOPTut.Core.Bazaar.BazaarList>
@using Microsoft.AspNetCore.Identity
@using OOPTut.Core.Users

@inject UserManager<ApplicationUser> UserManager
@{
    ViewData["Title"] = "Pazar Listeleri";
}

<h1>Pazar Listeleri</h1>

<p>
    <a asp-action="Create">Yeni bir pazar listesi oluştur</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Title)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Description)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CreatorUserId)
            </th>
            <th>
                Ürün Sayısı
            </th>
            <th>
                Tamamlanan
            </th>
            <th>
                İptal
            </th>
            <th>
                Başarılı
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Title)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Description)
                </td>
                <td>
                    @*@Html.DisplayFor(modelItem => item.CreatorUserId)*@
                    @UserManager.FindByIdAsync(item.CreatorUserId).Result.UserName
                </td>
                <td>
                    @item.BazaarListItems.Count()
                </td>
                <td>
                    @*tamamlanan*@
                    @item.BazaarListItems.Where(x => x.IsCompleted == true).Count()
                    @{
                        // 1. uzun yol
                        //int tamamlanan = 0;
                        //foreach(var listItem in item.BazaarListItems)
                        //{
                        //    if (listItem.IsCompleted)
                        //    {
                        //        tamamlanan++;
                        //    }
                        //}

                        // 2. linq ile kolay ve kisa
                        //int tamamlanan = item.BazaarListItems.Where(x => x.IsCompleted == true).Count();
                    }
                </td>
                <td>
                    @*iptal edilen*@

                    @item.BazaarListItems.Where(x => x.IsCanceled == true).Count()
                </td>
                <td>
                    @*liste başarılı mı*@
                    @{
                        int islemGoren = item.BazaarListItems.Where(x => x.IsCanceled == true || x.IsCompleted == true).Count();
                        int toplamUrun = item.BazaarListItems.Count();
                        if (islemGoren == toplamUrun)
                        {
                            <span>Başarılı</span>
                        }
                        else
                        {
                            <span>Devam Ediyor</span>
                        }
                    }

                </td>
                <td>


                    <a asp-action="Update" asp-route-id="@item.Id">Güncelle</a> |
                    <a asp-action="Index" asp-controller="BazaarListItem" asp-route-id="@item.Id">Detaylar</a> |

                    <a asp-action="Delete" asp-route-id="@item.Id">Sil</a>
                </td>
            </tr>
        }
    </tbody>
</table>
