@model IEnumerable<OOPTut.Core.Bazaar.BazaarList>
@using Microsoft.AspNetCore.Identity
@using OOPTut.Core.Users

@inject UserManager<ApplicationUser> UserManager
@{
    ViewData["Title"] = "Pazar Listeleri";
}

<h1>Pazar Listeleri</h1>

<p>
    <a asp-action="Create">Yeni bir pazar listesi oluştur</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Title)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Description)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CreatorUserId)
            </th>
            <th>
                Ürün Sayısı
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Title)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Description)
                </td>
                <td>
                    @*@Html.DisplayFor(modelItem => item.CreatorUserId)*@
                    @UserManager.FindByIdAsync(item.CreatorUserId).Result.UserName
                </td>
                <td>
                    @item.BazaarListItems.Count()
                </td>
                <td>


                    <a asp-action="Update" asp-route-id="@item.Id">Güncelle</a> |
                    <a asp-action="Index" asp-controller="BazaarListItem" asp-route-id="@item.Id">Detaylar</a> |

                    <a asp-action="Delete" asp-route-id="@item.Id">Sil</a>
                </td>
            </tr>
        }
    </tbody>
</table>
