@model IEnumerable<OOPTut.Core.Bazaar.BazaarListItem>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create" asp-route-id="@ViewBag.BazaarListItemId">Yeni ekle</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IsCompleted)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IsCanceled)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.BazaarList)
            </th>
            @*<th>
                    @Html.DisplayNameFor(model => model.CreatorUserId)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.CreatedDate)
                </th>*@
            <th></th>
        </tr>
    </thead>
    <tbody>
        @{
            string className = "";

        }
        @foreach (var item in Model)
        {
            if (item.IsCanceled)
            {
                className = "bg-danger";
            }
            else if (item.IsCompleted)
            {
                className = "bg-success";
            }
            else
            {
                className = "";
            }
            <tr class="@className">
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.IsCompleted)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.IsCanceled)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.BazaarList.Title)
                </td>
                @*<td>
                        @Html.DisplayFor(modelItem => item.CreatorUserId)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.CreatedDate)
                    </td>*@
                <td>
                    <a asp-action="Update" asp-route-id="@item.Id">Düzenle</a> @*|
                        <a asp-action="Details" asp-route-id="@item.Id">Details</a> |*@
                    <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>
