@model IEnumerable<OOPTut.Core.Bazaar.BazaarListItem>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create" asp-route-id="@ViewBag.BazaarListItemId">Yeni ekle</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IsCompleted)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IsCanceled)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.BazaarList)
            </th>
            @*<th>
                    @Html.DisplayNameFor(model => model.CreatorUserId)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.CreatedDate)
                </th>*@
            <th></th>
        </tr>
    </thead>
    <tbody>
        @{
            string className = "";

        }
        @foreach (var item in Model)
        {
            if (item.IsCanceled)
            {
                className = "text-warning";
            }
            else if (item.IsCompleted)
            {
                className = "text-primary";
            }
            else
            {
                className = "";
            }
            <tr class="@className">
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.IsCompleted)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.IsCanceled)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.BazaarList.Title)
                </td>
                @*<td>
                        @Html.DisplayFor(modelItem => item.CreatorUserId)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.CreatedDate)
                    </td>*@
                <td>
                    <a asp-action="Update" asp-route-id="@item.Id">Düzenle</a> @*|
                        <a asp-action="Details" asp-route-id="@item.Id">Details</a> |*@
                    @*<a asp-action="Delete" asp-route-id="@item.Id">Delete</a>*@
                    <button class="btn btn-sm btn-danger" 
                            onclick="openDeleteModal(@item.Id,'@item.Name')"><span class="fa fa-trash"></span> Sil</button>
                </td>
            </tr>
        }
    </tbody>
</table>


<!-- Modal -->
<div class="modal fade" id="deleteModal" tabindex="-1" role="dialog" aria-labelledby="deleteModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="deleteModalLabel">Modal title</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body" id="deleteModalBody">
                ...
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Vazgeç</button>
                <button type="button" class="btn btn-danger" id="delete-confirm-button">Sil</button>
            </div>
        </div>
    </div>
</div>
@section Scripts{
    <script src="~/lib/jquery-ajax-unobtrusive/jquery.unobtrusive-ajax.min.js"></script>
    <script>
        var deletedId = 0;
        function openDeleteModal(_id, _title) {
            console.log(_id);
            $('#deleteModalLabel').text(_title);
            $('#deleteModalBody').text("Silmek istediğinize emin misiniz?");
            $('#deleteModal').modal('show');
            deletedId = _id;
        }
        $("#delete-confirm-button").on('click', function () {
            if (deletedId > 0) {
                deleteItem(deletedId);
            }
        });
        function deleteItem(_id) {
            $.ajax({
                url: "/BazaarListItem/DeleteJson",
                type: 'POST',
                dataType: 'json',
                data: { id: _id },
                success: function (data) {
                    if (data.result == 1) {
                        alert('basariyla sildiniz');
                    }
                    else {
                        alert('bir hata olustu');
                    }
                }
            });
        }
    </script>


}
