@model OOPTut.Core.Navbar.NavBarMenuItem

@{
    ViewData["Title"] = "Delete";
}

<h1>Menü nesnesini sil!</h1>

<h3>Silmek istediğinizden emin misiniz?</h3>
<div>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Title)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Title)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Url)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Url)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.OpenInSamePage)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.OpenInSamePage)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Icon)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Icon)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Roles)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Roles)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IsAnonym)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IsAnonym)
        </dd>
    </dl>
    
    <form asp-action="DeleteItem">
        <input type="hidden" asp-for="Id" />
        <input type="submit" value="Sil" class="btn btn-danger" /> |
        <a asp-action="Index">Listeye dön</a>
    </form>
</div>
